/* 전체 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
}

.logo img {
    
    height: 40px;
    padding: 10px;
}

nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav ul li {
    margin-left: 60px;
    width: 65px;
}

nav ul li a {
    text-decoration: none;
    color: #3C4858;
    font-weight: bold;
    font-family: 'Kakao Regular', 'Apple SD Gothic Neo', sans-serif;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

/* .search-form button {
    padding: 8px 16px;
    background-color: #3C4858;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
} */

/* 메인 콘텐츠 스타일 */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    text-align: center;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
}

.hero h1 {
    font-size: 36px;
    margin-top: 20px;
    font-family: 'Kakao Regular', 'Apple SD Gothic Neo', sans-serif;
}

.hero p {
    font-size: 18px;
    color: #777;
}


/* 푸터 스타일 */
footer {
    background-color: #F2F2F2;
    padding: 20px;
    text-align: center;
}

.slide-banner {
    height: 200px;
    background-color: #D9D9D9;
}