/* 전체 스타일 */
body {
    font-family: 'Kakao Regular', 'Apple SD Gothic Neo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f1fa;
}

/* 로그인 컨테이너 스타일 */
.login-container {
    width: 300px;
    margin: 200px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    height: 50px;
}

/* 로그인 폼 스타일 */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Kakao Bold', 'Apple SD Gothic Neo', sans-serif;
    font-weight: bold;
}

.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Kakao Regular', 'Apple SD Gothic Neo', sans-serif;
}

.login-form button {
    padding: 10px;
    background-color: #3C4858;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Kakao Bold', 'Apple SD Gothic Neo', sans-serif;
    font-weight: bold;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}

.forgot-password a {
    color: #3C4858;
    text-decoration: none;
    font-size: 14px;
}

.signup {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    color: #3C4858;
    text-decoration: none;
    font-weight: bold;
}