body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.title {
    font-size: 24px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    margin-right: 5px;
}

.icons {
    display: flex;
}

.icon {
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
}
.icon a{
    
    font-size: 24px;
    text-decoration: none;
}
/* 카테고리 */
.navbar {
    display: block;
    height: 30px;
    justify-content: space-around;
    padding: 10px;
    background-color: #cbcbcb;
    border-bottom: 1px solid #ccc;
    
}

.nav-item {
    margin: 0 10px;
    float: left;
    margin-left: 50px;
}

.container {
    display: block;
    flex-wrap: wrap;
    padding: 20px;
    width: 1830px;
    float: left;
    
}

#chart {
    
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 80vh; /* 화면 높이의 80%를 차지 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    box-sizing: border-box;
    display: block;
    border-radius: 30px 0 0 30px;
}
#chart li{
    padding: 7px;
}


.section {
    border: 3px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 480px;
    box-sizing: border-box;
    border-radius: 30px;
    float: right;
}

h2 {
    margin-bottom: 7px;
    margin-top: 5px;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

span {
    color: red;
}


/* 글쓰기 */
#write-form {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

#write-form form {
    display: flex;
    flex-direction: column;
}

#write-form label {
    margin-top: 10px;
}

#write-form input, #write-form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#write-form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#write-form button:hover {
    background-color: #45a049;
}