<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤프로젝트</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>커뮤프로젝트</h1>
    </header>
    <nav>
        <a href="#">홈</a>
        <a href="#">게시판</a>
        <a href="#">인기글</a>
        <a href="#">공지사항</a>
        
    </nav>

    <form action="/search" method="GET" class="search-form">
        <input type="text" name="query" placeholder="검색어를 입력하세요" aria-label="검색">
        <!-- <button type="submit">검색</button> -->
    </form>

    <div class="container">
        <main class="content">
            <div class="post">
                <div class="post-title">게시글 제목 1</div>
                <div class="post-content">게시글 내용---</div>
            </div>
            <div class="post">
                <div class="post-title">게시글 제목 2</div>
                <div class="post-content">게시글 내용---</div>
            </div>
            <div class="post">
                <div class="post-title">게시글 제목 2</div>
                <div class="post-content">게시글 내용---</div>
            </div>
            <!-- 더 많은 게시글 -->

            
        </main>
    </div>
</body>
</html>
