<!DOCTYPE html>
<html>
<head>
    <title>커뮤프로젝트</title>
    <link rel="stylesheet" type="text/css" href="../static/css.css">
    <style>
        
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../soa/py_pi.png " alt="Kakao Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">소개</a></li>
                <li><a href="#">이야기</a></li>
                <li><a href="#">서비스</a></li>
                <li><a href="#">인기</a></li>
                <li><a href="#">뉴스</a></li>
                <li><a href="#">투자정보</a></li>
            </ul>
        </nav>
        <form class="search-form">
            <a href="login.html">로그인</a>
        </form>
        <form class="search-form">
            <input type="text" placeholder="검색어를 입력하세요">
            <!-- <button type="submit">검색</button> -->
        </form>
    </header>

    <main>
        <section class="hero">
            <img src="../soa/image_EXjswNR.png" alt="Hero Image">
            <h1>모두의 삶 모두의 기술</h1>
            <p>파이썬 프로젝트</p>
        </section>

        <section class="content">
            <!-- 콘텐츠 영역 -->
        </section>
    </main>

    <!-- 메인 콘텐츠 아래에 추가 -->
<section class="post-list">
    <div class="post-item">
        
        <h3>제목 1</h3>
        <p>내용 요약 1...</p>
    </div>
    <div class="post-item">
        
        <h3>제목 2</h3>
        <p>내용 요약 2...</p>
    </div>
    <div class="post-item">
        
        <h3>제목 3</h3>
        <p>내용 요약 3...</p>
        <p>내용 요약 3...</p>
        <p>내용 요약 3...</p>
        <p>내용 요약 3...</p>
    </div>
</section>
    

    <footer>
        <div class="slide-banner">
            <!-- 슬라이드 배너 영역 -->
            <li><p>최재성, 진나현, 이희연</p></li>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>