<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="header">
        <div class="logo">D</div>
        <div class="title">커뮤니티</div>
        <div class="search-container">
            <input type="text" placeholder="실시간 급상승">
            <button>🔍</button>
        </div>
        <div class="icons">
            <div class="icon"><a href="login.html">👤</a></div>
            <div class="icon">🎧</div>
        </div>
    </div>
    
    <div class="navbar">
        <div class="nav-item"><a href="/">홈</a></div>
        <div class="nav-item"><a href="/write">글쓰기</a></div>
        <div class="nav-item">카테고리 2</div>
        <div class="nav-item">카테고리 3</div>
        <div class="nav-item">카테고리 4</div>
        <div class="nav-item">카테고리 5</div>
    </div>

    <div class="container">
        <div class="section" id="chart">
            <h2>실시간 인기 차트 🎵</h2>
            <div class="chart-content">
                <ol>
                    {% for entry in chart %}
                    <li>{{ entry.rank }}: {{ entry.title }} - {{ entry.artist }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="section" id="hot-posts">
            <h2>HOT 글 🔥</h2>
            <ol>
                <li>호시는는 귀엽다.</li>
                <li>나니는 깜찍하다. <span>🔺3</span></li>
                <li>머리 깨질것 같다.</li>
            </ol>
        </div>
        <div class="section" id="recommended-posts">
            <h2>전체글 🌟</h2>
            <ol>
                {% for post in posts %}
                <li>{{ post.title }}: {{ post.content }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="section" id="notice">
            <h2>공지사항</h2>
            <ol>
                <li>호시는는 귀엽다.</li>
                <li>나니는 깜찍하다. <span>🔺3</span></li>
                <li>머리 깨질것 같다.</li>
            </ol>
        </div>
        <div class="section" id="search">
            <h2>실시간 검색어</h2>
            <ol>
                <li>호시는는 귀엽다.</li>
                <li>나니는 깜찍하다. <span>🔺3</span></li>
                <li>머리 깨질것 같다.</li>
            </ol>
        </div>
    </div>
</body>
</html>
