<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="../static/styles.css">
    
</head>
<body>
    <div class="header">
        <div><a href="/" class="logo">D</a></div>
        <div class="title"></div>
        <!-- <div class="search-container">
            <input type="text" placeholder="실시간 급상승">
            <button>🔍</button>
        </div> -->
        <div class="icons">
            <div class="icon"><a href="/login">👤</a></div>
            <div class="icon">🎧</div>
        </div>
    </div>
    
    <div class="navbar">
        <div class="nav-item"><a href="/">홈</a></div>
        <div class="nav-item"><a href="/write">글쓰기</a></div>
        <div class="nav-item"><a href="/posts">전체글</a></div>
        <div class="nav-item"><a href="/upload">노래</a></div>
        <div class="nav-item">카테고리 4</div>
        <div class="nav-item">카테고리 5</div>
    </div>

    <div class="container">
        <div class="section" id="chart">
            <h2>실시간 인기 차트 🎵</h2>
            <div class="chart-content">
                <ol>
                    {% for entry in chart %}
                    <li><a href="https://www.youtube.com/results?search_query={{ entry.title }}">
                        {{ entry.rank }}  :  {{ entry.title }} </a><br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{ entry.artist }}</span></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
       
        <div class="section" id="recommended-posts">
            <h2>전체글 🌟</h2>
            <ol>
                {% for post in posts %}
                <li>{{ post.author }} : {{ post.title }}</li>
                {% endfor %}
            </ol>
        </div>
        
        <div class="section" id="notice">
            <h2>공지사항</h2>
            <ol>
                <li>이 사이트는</li>
                <li>Html, css, Python, Fastapi, Mongodb로</li>
                <li>개발하였습니다</li>
                <li>db건들면 대가리 부숴드리겠습니다</li>
            </ol>
        </div>
        <div class="section" id="hot-posts">
            <h2>HOT 글 🔥</h2>
            <ol>
                <!-- <li>호시는는 귀엽다.</li>
                <li>나니는 깜찍하다. <span>🔺3</span></li>
                <li>머리 깨질것 같다.</li> -->
            </ol>
        </div>
        <div class="section" id="search">
            <h2>실시간 검색어</h2>
            <ol>
                <!-- <li>호시는는 귀엽다.</li>
                <li>나니는 깜찍하다. <span>🔺3</span></li>
                <li>머리 깨질것 같다.</li> -->
            </ol>
        </div>
    </div>
</body>
</html>
