<!DOCTYPE html>
<html>
<head>
    <title>Kakao Login</title>
    <link rel="stylesheet" type="text/css" href="../static/login_styles.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <!-- <img src="../soa/py_pi.png" alt="Kakao Logo"> -->
        </div>
        <form class="login-form">
            <h2>로그인</h2>
            <input type="text" placeholder="아이디" required>
            <input type="password" placeholder="비밀번호" required>
            <button type="submit">로그인</button>
            <div class="forgot-password">
                <a href="#">비밀번호 찾기</a>
            </div>
            <div class="signup">
                <span>아직 회원이 아니신가요?</span>
                <a href="#">회원가입</a>
            </div>
        </form>
    </div>
</body>
</html>